Repository hmcts/pcq-consolidation-service, pull requests merged in 2020-11, with the labels that each got.

#52 Pcq 712 improved service logging
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/ServiceConfigProvider.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/utils/LoggingSummaryUtils.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/ServiceConfigProviderTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-52

#54 PCQ-711 Functional test update for consolidation service to create and search for CCD cases
  bin/ccd-add-all-roles.sh
  docker/ccd-spreadsheets/~$PCQ-Example-CaseDefinition.xlsx
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/ccd/model/CcdCollectionElement.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/ccd/model/CcdDocument.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/ccd/model/PcqQuestions.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/ccd/model/ScannedDocument.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/ccd/util/CaseCreator.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/postdeploy/ConsolidationServiceFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/postdeploy/ConsolidationServiceTestBase.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/services/ccd/CcdClientApi.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-54

#55 PCQ_712 - Fix to the service summary count
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/utils/LoggingSummaryUtils.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-55
