Repository hmcts/pcq-consolidation-service, pull requests merged in 2020-10, with the labels that each got.

#48 PCQ-698 - Updated Spring Boot version to fix nightly build
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/postdeploy/ConsolidationServiceFunctionalTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-48

#49 PCQ-698 - Removed the health-springboot-starter from the build.gradle
  build.gradle
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-49

#47 PCQ-691 Updated to improve sonarcloud issues.
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/controller/response/PcqRecordWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/controller/response/PcqWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/utils/JsonFeignResponseUtil.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/ServiceConfigProviderTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/advice/ErrorResponseTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/PcqAnswerResponseTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/PcqAnswersTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/PcqRecordWithoutCaseResponseTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/PcqWithoutCaseResponseTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/SubmitResponseTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/service/impl/PcqBackendServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/services/ccd/CcdAuthenticatorFactoryTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/services/ccd/CcdClientApiTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/utils/JsonFeignResponseUtilTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-47

#44 PCQ-584: Add Elastic Search for DCN Form field to match PCQ records
  compose/dm-store.yml
  docker/ccd-spreadsheets/Original-CCD-GenericDefinitionFile.xlsx
  docker/ccd-spreadsheets/PCQ-Example-CaseDefinition.xlsx
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/model/PcqAnswerRequest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/model/PcqAnswerResponse.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/postdeploy/ConsolidationServiceFunctionalTest.java
  src/functionalTest/resources/JsonTestFiles/SecondSubmitAnswerWithDcn.json
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/ServiceConfigProvider.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/controller/response/PcqAnswerResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/services/ccd/CcdClientApi.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentUtil.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/services/ccd/CcdClientApiTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-44

#51 PCQ-686 - Refactored code to use pcq-commons library
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/TestApplicationConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/model/PcqAnswerRequest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/model/PcqAnswerResponse.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/model/PcqAnswers.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/postdeploy/ConsolidationServiceFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/postdeploy/ConsolidationServiceTestBase.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/TestApplicationConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/util/SpringBootIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationApplication.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/FeignHeaderConfig.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/FeignInterceptorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/controller/feign/PcqBackendFeignClient.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/controller/response/PcqAnswerResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/controller/response/PcqAnswers.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/controller/response/PcqRecordWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/controller/response/PcqWithoutCaseResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/controller/response/SubmitResponse.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/exception/ExternalApiException.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/service/impl/PcqBackendServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/utils/JsonFeignResponseUtil.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationApplicationTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentUtil.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/advice/ExternalApiExceptionTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/PcqAnswerResponseTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/PcqAnswersTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/PcqRecordWithoutCaseResponseTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/PcqWithoutCaseResponseTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/controllers/response/SubmitResponseTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/service/impl/PcqBackendServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/utils/JsonFeignResponseUtilTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-51

#53 Incremented tomcat version to 9.0.39
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-53
