Repository hmcts/pcq-consolidation-service, pull requests merged in 2020-05, with the labels that each got.

#10 PCQ-181 Bump to charts to pickup s2s
  charts/pcq-consolidation-service/Chart.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-10

#11 PCQ-181 Correcting name for S2S
  Jenkinsfile_CNP
Labels: ns:pcq, rel:pcq-consolidation-service-pr-11

#12 PCQ-181 Bump charts to pick up new cnp config
  charts/pcq-consolidation-service/Chart.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-12

#13 PCQ-181 removed S2S_Name from charts
  charts/pcq-consolidation-service/Chart.yaml
  charts/pcq-consolidation-service/values.preview.template.yaml
  charts/pcq-consolidation-service/values.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-13

#14 PCQ-181-Remove GrantOfRepresentation case type
  src/main/resources/application.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-14

#15 PCQ-181 Bump charts to rebuild job
  charts/pcq-consolidation-service/Chart.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-15

#16 PCQ-181 Put back env variables in config.
  charts/pcq-consolidation-service/Chart.yaml
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-16

#17 PCQ-181 Amending client details
  src/main/resources/application.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-17

#18 PCQ-181 Update application.yaml
  src/main/resources/application.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-18

#19 PCQ-181 Revert code to use env variable
  src/main/resources/application.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-19

#21 PCQ-181: Add probate cases.
  src/main/resources/application.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-21

#22 PCQ-272 Fix consolidation service functional tests
  Jenkinsfile_CNP
  bin/ccd-add-all-roles.sh
  docker/ccd-spreadsheets/PCQ-Example-CaseDefinition.xlsx
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/postdeploy/ConsolidationServiceFunctionalTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-22

#23 PCQ_333_Changes to enable Application Insights
  charts/pcq-consolidation-service/Chart.yaml
  charts/pcq-consolidation-service/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:pcq, rel:pcq-consolidation-service-pr-23
