Repository hmcts/pcq-consolidation-service, pull requests merged in 2020-09, with the labels that each got.

#36 PCQ-1234 Fix nightly build
  config/owasp/suppressions.xml
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-36

#38 PCQ-638: Enable Security Scan, Mutation and Functional Tests
  Jenkinsfile_nightly
  build.gradle
  security.sh
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-38

#37 PCQ-1234: Update to fix SonarQube build.
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-37

#41 PCQ-1234 Update to improve code coverage.
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-41

#42 PCQ-1234 Update to improve code coverage.
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-42

#43 PCQ-1234 Update to improve code coverage.
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponentTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-43

#39 PCQ-647 - Updated CCD API to v4.7.3
  build.gradle
  charts/pcq-consolidation-service/Chart.yaml
  charts/pcq-consolidation-service/requirements.yaml
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-39
