Repository hmcts/pcq-consolidation-service, pull requests merged in 2023-04, with the labels that each got.

#271 PCQ-1645 Spring boot upgrade
  build.gradle
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/CaseFieldMapping.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/ServiceConfigItem.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/config/ServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/security/SecurityConfiguration.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-271

#275 Bump Chart.yaml version
  charts/pcq-consolidation-service/Chart.yaml
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-275

#277 PCQ-1718 upgrade spring Boot library
  build.gradle
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-277

#276 PCQ-1645 Adding telemetry client
  .gitignore
  Dockerfile
  build.gradle
  charts/pcq-consolidation-service/Chart.yaml
  charts/pcq-consolidation-service/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights.json
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/utils/AppInsightsConfig.java
  src/main/resources/bootstrap.yaml
  src/test/java/uk/gov/hmcts/reform/pcqconsolidationservice/utils/AppInsightsConfigTest.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-276, keep-helm

#280 Remove unnecessary logs.
  src/functionalTest/java/uk/gov/hmcts/reform/pcqconsolidationservice/ccd/util/CaseCreator.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/ConsolidationComponent.java
  src/main/java/uk/gov/hmcts/reform/pcqconsolidationservice/services/ccd/CcdClientApi.java
Labels: ns:pcq, prd:pcq, rel:pcq-consolidation-service-pr-280
